.heading-1-large {
  font-size: $font-size-h1-large;
  line-height: $font-size-h1-large;
  height: auto;

  @media only screen and (max-width: $bp-medium) {
    line-height: 5.6rem;
  }

  @media only screen and (max-width: $bp-small) {
    line-height: 4rem;
  }
}

.heading-1-small {
  font-size: $font-size-h1-small;
  line-height: 10rem;

  @media only screen and (max-width: $bp-medium) {
    line-height: 5.6rem;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.heading-2 {
  font-size: $font-size-h2;
  line-height: $font-size-h2;
  height: auto;
  font-weight: bold;
}

.heading-3 {
  font-size: $font-size-h3;
  line-height: 2.8rem;
}

.paragraph-1 {
  font-size: $font-size-body-1;
  line-height: 2.8rem;
  height: auto;
  font-weight: 600;
}

.paragraph-2 {
  font-size: $font-size-body-2;
  line-height: 2.5rem;
  font-weight: 600;
}
