.heading-1-large {
  font-size: $font-size-h1-large;

  /* line-height: 1.5; */

  /* @media only screen and (max-width: $bp-large) {
  }

  @media only screen and (max-width: $bp-medium) {
  }

  @media only screen and (max-width: $bp-small) {
  } */
}

.heading-1-small {
  font-size: $font-size-h1-small;

  /* line-height: 1.5; */
}

.heading-2 {
  font-size: $font-size-h2;

  /* line-height: 1.5; */
}

.heading-3 {
  font-size: $font-size-h3;

  /* line-height: 1.5; */
}

.paragraph-1 {
  font-size: $font-size-body-1;

  /* line-height: 1.5; */
}

.paragraph-2 {
  font-size: $font-size-body-2;

  /* line-height: 1.5; */
}
