// Responsive Breakpoints -> 1em = 16px
$bp-large: 69.375em; // 1110px / 16px = 69.375
$bp-medium: 50em; // 800px / 16px = 50
$bp-small: 37.5em; // 600px / 16px = 37.5

:root {
  --font-size-h1-large: 10rem;
  --font-size-h1-small: 6.4rem;
  --font-size-h2: 4.8rem;
  --font-size-h3: 1.8rem;
  --font-size-body-1: 1.8rem;
  --font-size-body-2: 1.5rem;

  @media only screen and (max-width: $bp-large) {
    --font-size-h1-large: 8.2rem;
    --font-size-h2: 4rem;
    --font-size-body-1: 1.7rem;
  }

  @media only screen and (max-width: $bp-medium) {
    --font-size-h1-large: 6.4rem;
    --font-size-h2: 3.2rem;
    --font-size-body-1: 1.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    --font-size-h1-large: 4rem;
  }
}

// Colors
$black: #000;
$white: #FFF;
$midnight-green: #014E56;
$light-coral: #F67E7E;
$rapture-blue: #79C8C7;
$police-blue: #2C6269;
$deep-jungle-green: #004047;
$sacramento-state-green: #012F34;
$dark-green: #002529;

// Fonts
$font-primary: 'Livvic', sans-serif;
$font-size-h1-large: var(--font-size-h1-large);
$font-size-h1-small: var(--font-size-h1-small);
$font-size-h2: var(--font-size-h2);
$font-size-h3: var(--font-size-h3);
$font-size-body-1: var(--font-size-body-1);
$font-size-body-2: var(--font-size-body-2);
